$gris-red-light: #db5c64
$gris-red: #a71732
$gris-red-dark: #550916

$gris-tree-light: #8d8570
$gris-tree: #576f59
$gris-tree-dark: #4d6054

$gris-temple-light: #aeb4a8
$gris-temple: #87aaa3
$gris-temple-dark: #6b7e7a

$gris-black: #3d2e31
$gris-white: #f3f4ec

$shadow-standard: 4px 4px 12px 0px $gris-temple-dark
$shadow-dark: 4px 4px 12px 0px $gris-black

// Fonts

@font-face
    font-family: 'Amatic-Regular'
    src: url('../assets/fonts/AmaticSC-Regular.ttf')

@font-face
    font-family: 'Amatic-Bold'
    src: url('../assets/fonts/AmaticSC-Bold.ttf')

@font-face
    font-family: 'Nothing-Regular'
    src: url('../assets/fonts/NothingYouCouldDo-Regular.ttf')

@font-face
    font-family: 'Cutive-Regular'
    src: url('../assets/fonts/CutiveMono-Regular.ttf')
