button
    background-color: $gris-tree
    border: none
    border-radius: 2px
    color: $gris-white
    cursor: pointer
    font-family: 'Amatic-Regular'
    font-size: 24px
    height: 60px
    line-height: 28px
    overflow: hidden
    padding: 18px 0px 18px 0px
    text-align: center
    width: 180px

    &.error
        background-color: $gris-red

        &:hover
            background-color: $gris-red-dark

    &:hover
        background-color: $gris-tree-light
