.expense
    cursor: pointer
    display: grid
    grid-column-gap: 8px
    grid-template-columns: 60px 78px 266px
    grid-template-rows: 24px
    height: 24px
    margin: 0px 0px 4px 0px

    .times
        grid-column: 1 / 2
        grid-row: 1 / 2
        text-align: right

    .amount
        color: $gris-red
        grid-column: 2 / 3
        grid-row: 1 / 2
        text-align: right

    .category
        grid-column: 3 / 4
        grid-row: 1 / 2
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

@media screen and (max-width: 1023px)
    .expense
        grid-template-columns: 180px 128px 420px
        overflow: hidden

@media screen and (max-width: 767px)
    .expense
        grid-template-columns: 30px 79px 234px
