.modal
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0, 0.4)
    z-index: 11

    .modal-body
        background-color: $gris-temple-light
        left: 50%
        max-height: 90vh
        overflow: hidden
        position: fixed
        top: 50%
        transform: translate(-50%, -50%)
        width: 1024px
        z-index: 11
