.radio-button-container
    height: 44px

    .radio-button
        color: $gris-black
        cursor: pointer
        display: inline-block
        font-family: 'Cutive-Regular'
        font-size: 18px
        height: 40px
        line-height: 24px
        margin: 0px
        padding: 16px 8px 0px 8px

        .description
            display: inline-block
            vertical-align: middle

        .accent
            background-color: $gris-tree-dark
            height: 4px
